/Desktop/Nelson/JAVA/KadabraGUIApp/nbproject/private/
/Desktop/Nelson/JAVA/GUIApp/nbproject/private/
/Desktop/Nelson/JAVA/GUIApp/build/
/Desktop/Nelson/JAVA/AplicacaoJava/nbproject/private/
/Desktop/Nelson/JAVA/AplicacaoJava/build/
/Desktop/Nelson/JAVA/AplicacaoJava/dist/
